    <!-- About Section -->
    <section id="about" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>About Me</h2>
                <!--<h3>!Website In Construction!</h3>-->
            </div>
            <div class="col-lg-12 text-left">
                <p>I’m a scientific researcher in H2T, IAR, KIT studying robotics and I wish robots to be the next generation of living beings. 
                <!--I believe this will come true in the near future. However, let the robot deal with even the most easy daily works is challenging, not to mention highly dynamic motions like athlete and lively emotional communications like the a real person. The more challenging the tasks are, the more attractive it is to find out the underlying mathmetics. <br>-->
                Recently, I focus on bimanual compliant control and machine learning for control in robotics.<!-- Hope to make contributions to the robotics society. I will share some of my works, and the blogs or videos will come soon.--> Please read below or download my resume to learn more about me. </p>
            </div>
            <div class="col-lg-12 text-center">
                <h3 class="section-subheading text-muted">
                    <a href="downloads/main.pdf" role='button' class='btn btn-primary btn-lg active'> 
                        <i class="fa fa-download"></i> Download Resume
                    </a>
                </h3>
                <a href="#educations" class="btn btn-circle page-scroll active">
                    <i class="fa fa-angle-double-down animated"></i>
                </a>
            </div>
        </div>
    </section>
