    <!-- Download Section -->
    <section id="educations" class="content-section text-center">
        <div class="content-section">
            <div class="container">
                <div class="content-section-heading text-center">
                    <h2 class="mb-5">Educations</h2>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <a href="#">
                            <img src="img/me1.png" height="200" width="220" class="img-responsive img-centered" alt="">
                        </a>
                    </div>
                    <div class="col-md-9 text-left">
<!--                    <div class="col-lg-9 col-lg-offset-2">-->
                        <div class="row">
                            <div class="col-lg-9">
                                <h3><strong>Karlsruhe Institute of Technology, Germany</strong></h5>
                            </div>
                            <div class="col-lg-3">
                                <p class="h4 job-duration">2015.10 - 2018.10</p>
                            </div>
                            <div class="col-lg-12">
                                <p><em>Master of Science, Mechatronics and Information Technology</em>
                                <br>Thesis: Projected Force-Admittance Control for Compliant Bimanual Tasks</p>
                            </div>
                        </div>
                        
                        <div class="row">
                            <div class="col-lg-9">
                                <h3><strong>Beijing Institute of Technology, China</strong></h5>
                            </div>
                            <div class="col-lg-3">
                                <p class="h4 job-duration">2011.09 - 2015.06</p>
                            </div>
                            <div class="col-lg-12">
                                <p><em>Bachelor of Engineering, Mechatronical Engineering</em>
                                <br>Thesis: FPGA-based DC-motor controller for quadrupedal robot legs</p>
                            </div>
                        </div>
                    </div>
                    
                </div>
                <a href="#projects" class="btn btn-circle page-scroll active">
                    <i class="fa fa-angle-double-down animated"></i>
                </a>
            </div>
        </div>
    </section>
