    <!-- Intro Header -->
    <header class="intro">
        <div class="intro-body">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <h1 class="s-component-content s-font-title"><p style="font-size: 160%;">Dream The Future, Concentrate On The Present</p></h1>
                        <!--<h2 class="brand-heading">Dream The Future, Concentrate On The Present</h1>-->
                        <p class="intro-text">Welcome to my world</p>
                        <a href="#about" class="btn btn-circle page-scroll active">
                            <i class="fa fa-angle-double-down animated"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </header>
