    <!-- Download Section -->
    <section id="interests" class="content-section text-center">
        <div class="content-section">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <h2>Personal Interests</h2>
                        <p>Tennis, Badminton, Skateboard, Mountainbike, Reading, DIY</p>
                        <!--<a href="http://startbootstrap.com/template-overviews/grayscale/" class="btn btn-default btn-lg">Visit Download Page</a>-->
                    </div>
                </div>
                <div class="row">
                    <a href="#contact" class="btn btn-circle page-scroll  active">
                        <i class="fa fa-angle-double-down animated"></i>
                    </a>
                </div>
            </div>
        </div>
    </section>
