    <!-- Download Section -->
    <section id="patents" class="content-section text-center">
        <div class="content-section">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <h2>Patentes</h2>
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-md-1"></div>      
                    <div class="col-md-2 text-center">
                        <img class="img-thumbnail img-responsive" src="img/Patent1_doubleA.png" alt="">
                    </div>
                    <div class="col-md-8 text-left">

                        <h3>Similar dual-A-arm suspended robot crotch lateral-deviation damping system</h5>
                        <p>LUO QINGSHENG; HUANG YANSONG; GAO JIANFENG; <strong>ZHOU CHENYANG</strong>; ZHANG BOXI; LIU FANGZHENG; KE ZHIFANG</p>
                        <p><em>CN103318290</em></p>
                        <a role="button" class="btn btn-primary btn-lg active" href="https://patents.google.com/patent/CN103318290A/en">
                            <i class="fas fa-external-link-alt"></i> Google Patents
                        </a>
                    </div>
                    <div class="col-md-1"></div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-md-1"></div>      
                    <div class="col-md-2 text-center">
                        <img class="img-thumbnail img-responsive" src="img/Patent3_waist.png" alt="">
                    </div>
                    <div class="col-md-8 text-left">

                        <h3>Adjustable and controllable flexible bendable biological lumbar vertebrae structure system for four-foot robot</h5>
                        <p>LUO QINGSHENG; KE ZHIFANG; <strong>ZHOU CHENYANG</strong>; HUANG YANSONG; LIU FANGZHENG; ZHANG BOXI; GAO JIANFENG</p>
                        <p><em>CN103303389</em></p>
                        <a role="button" class="btn btn-primary btn-lg active" href="https://patents.google.com/patent/CN103303389A/en">
                            <i class="fas fa-external-link-alt"></i> Google Patents
                        </a>
                    </div>
                    <div class="col-md-1"></div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-md-1"></div>      
                    <div class="col-md-2 text-center">
                        <img class="img-thumbnail img-responsive" src="img/Patent2_foot.png" alt="">
                    </div>
                    <div class="col-md-8 text-left">

                        <h3>Omni directional and self-adaptation elastic foot of four-footed robot</h5>
                        <p>LUO QINGSHENG; GAO JIANFENG; ZHANG BOXI; LIU FANGZHENG; <strong>ZHOU CHENYANG</strong>; HUANG YANSONG; KE ZHIFANG</p>
                        <p><em>CN103303388</em></p>
                        <a role="button" class="btn btn-primary btn-lg active" href="https://patents.google.com/patent/CN103303388A/en">
                            <i class="fas fa-external-link-alt"></i> Google Patents
                        </a>
                    </div>
                    <div class="col-md-1"></div>
                </div>
                <hr>
                <a href="#interests" class="btn btn-circle page-scroll active">
                    <i class="fa fa-angle-double-down animated"></i>
                </a>
            </div>
        </div>
    </section>
    
    
    
    
