    <!-- Projects Section -->
    <section class="content-section text-center" id="projects">
      <div class="container">
        <div class="content-section-heading text-center">
          <h2 class="mb-5">Projects</h2>
          <!--<h3 class="text-secondary mb-0">Click for more details</h3>-->
        </div>
        
        <div class="row no-gutters">            
            <div class="col-md-6">
                <a class="portfolio-item">
                    <span class="caption">
                        <span class="caption-content">
                            <h3>KIT Gripper</h3>
                            <p class="mb-0">IN PROGRESS</p>
                        </span>
                    </span>
                    <img class="img-fluid" src="img/imagine.png" width="100%" alt="">
                </a>
            </div>
            
            <div class="col-md-6">
                <a class="portfolio-item">
                    <span class="caption">
                        <span class="caption-content">
                            <h3>Learning Control in Mujoco</h3>
                            <p class="mb-0">IN PROGRESS</p>
                        </span>
                    </span>
                    <img class="img-fluid" src="img/mujoco-imagine.png" width="100%" alt="">
                </a>
            </div>
        </div>

        <div class="row no-gutters">            
            <div class="col-md-6">
                <a class="portfolio-item">
                    <span class="caption">
                        <span class="caption-content">
                        <h3>Bouncing leg</h3>
                        <p class="mb-0">IN PROGRESS, target a robot that can bounce with 1 leg or 2 legs</p>
                        </span>
                    </span>
                    <img class="img-fluid" src="img/bouncing_robot_preview.png" width="100%" alt="">
                </a>
            </div>
            
            <div class="col-md-6">
                <a class="portfolio-item">
                    <span class="caption">
                        <span class="caption-content">
                        <h3>Mini BLDC Controller</h3>
                        <p class="mb-0">IN PROGRESS: STM32F446RE plus DRV8323RS, with onboard magnet position sensor, designed to be position, velocity and torque controlled. CAN Bus. USB and JTAT debug. </p>
                        </span>
                    </span>
                    <img class="img-fluid" src="img/myboard1.PNG" width="100%" alt="">
                </a>
            </div>
        </div>
        
        <div class="row no-gutters">            
            <div class="col-md-6">
                <a class="portfolio-item">
                    <span class="caption">
                        <span class="caption-content">
                        <h3>Projected Force-Admittance Control (PFAC) on the ARMAR-6</h3>
                        <p class="mb-0">PFAC is a compliance control framework designed for bimanual tasks, which ensures the trajectory tracking and internal force regulation.</p>
                        </span>
                    </span>
                    <img class="img-fluid" src="img/PFAC_1.png" width="100%" alt="">
                </a>
            </div>
            
            <div class="col-md-6">
                <a class="portfolio-item">
                    <span class="caption">
                        <span class="caption-content">
                        <h3>Bimanual Controllers, ROS</h3>
                        <p class="mb-0">Implementation and comparision of variety of bimanual controllers using ROS and Gazebo</p>
                        </span>
                    </span>
                    <img class="img-fluid" src="img/schunk_bimanual.png" width="100%" alt="">
                </a>
            </div>
        </div>
        <div class="row no-gutters">   
            <div class="col-md-6">
                <a class="portfolio-item">
                    <span class="caption">
                        <span class="caption-content">
                            <h3>Hybrid Impedance/Force Control on the Schunk Lwa4p</h3>
                            <p class="mb-0">Implementation of the Hybrid Impedance/Force Controller for Schunk manipulator in both cartesian and joint space.</p>
                        </span>
                    </span>
                    <img class="img-fluid" src="img/schunk.jpg" width="100%" alt="">
                </a>
            </div>
            
            <div class="col-md-6">
                <a class="portfolio-item">
                    <span class="caption">
                        <span class="caption-content">
                            <h3>Bionic Cheetah Robot</h3>
                            <p class="mb-0">Modelling and analyzing of body structure. CPG-based locomotion algorithm. Lateral push recovery</p>
                        </span>
                    </span>
                    <img class="img-fluid" src="img/cheetah.jpg" width="100%" alt="">
                </a>
            </div>
         </div>
         
         <div class="row no-gutters">
            <div class="col-md-6">
                <a class="portfolio-item" href="#">
                    <span class="caption">
                        <span class="caption-content">
                            <h3>Robot Leg Controller Based on FPGA</h3>
                            <p class="mb-0">Design the cable-driven robot leg, and implement position control based on a Xilinx FPGA</p>
                        </span>
                    </span>
                    <img class="img-fluid" src="img/robot_leg.png" width="100%" alt="">
                </a>
            </div>
            
            <div class="col-md-6">
                <a class="portfolio-item">
                    <span class="caption">
                        <span class="caption-content">
                            <h3>3D Printer - Kossel Mini</h3>
                            <p class="mb-0">A DIY Kossel mini 3D printer, it works fine</p>
                        </span>
                    </span>
                    <img class="img-fluid" src="img/kossel1.jpg" width="100%" alt="">
                </a>
            </div>
        </div>
        <div class="row no-gutters">   
            <div class="col-md-6">
                <a class="portfolio-item">
                    <span class="caption">
                        <span class="caption-content">
                            <h3>IntelCup: The Angry Bird Robot</h3>
                            <p class="mb-0">Design "the Angry Birds" robot and control the crossbow-like robot to hit the target that is detected by the vision system</p>
                        </span>
                    </span>
                    <img class="img-fluid" src="img/angry_bird_model.png" width="100%" alt="">
                </a>
            </div>
            
            <div class="col-md-6">
                <a class="portfolio-item">
                    <span class="caption">
                        <span class="caption-content">
                            <h3>College Student Robot Competition</h3>
                            <p class="mb-0">Programming for dancing little humanoid.</p>
                        </span>
                    </span>
                    <img class="img-fluid" src="img/little_humanoid.png" width="100%" alt="">
                </a>
            </div>
            
        </div>
        <a href="#publications" class="btn btn-circle page-scroll  active">
            <i class="fa fa-angle-double-down animated"></i>
        </a>
      </div>
    </section>
    
