    <!-- Download Section -->
    <section id="publications" class="content-section text-center">
        <div class="content-section">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <h2>Publications</h2>
                    </div>
                </div>
                
                <hr>
                <div class="row">
                    <!--<div class="col-md-1"></div> -->     
                    <div class="col-md-2 text-center">
                        <img class="img-thumbnail img-responsive" src="img/pfac.png" alt="">
                    </div>
                    
                    <div class="col-md-10 text-left">
                        <h3>Projected Force-Admittance Control for Compliant Bimanual Tasks</h5>
                        <p><strong>GAO Jian-feng</strong>, You Zhou, Tamim Asfour</p>
                        <p><em>IEEE/RAS International Conference on Humanoid Robots (Humanoids), pp. 607-613, November, 2018</em></p>

                        <a role="button" class="btn btn-primary btn-lg active"
                            href="http://h2t.anthropomatik.kit.edu/101.php">
                            <i class="fas fa-external-link-alt"></i>H2T Pub. 
                        </a>               

                        <a role="button" class="btn btn-primary btn-lg active"
                            href="downloads/Gao2018.pdf">
                            <i class="fa fa-download"></i> PDF 
                        </a>
                    </div>
                    <!--<div class="col-md-1"></div>-->
                </div>

                <hr>
                <div class="row">
                    <!--<div class="col-md-1"></div> -->     
                    <div class="col-md-2 text-center">
                        <img class="img-thumbnail img-responsive" src="img/cpg.jpg" alt="">
                    </div>
                    
                    <div class="col-md-10 text-left">
                        <h3>CPG-Based Control Scheme for Quadruped Robot to Withstand the Lateral Impact</h5>
                        <p>Prof. LUO Qing-sheng, ZHOU Chen-yang, JIA Yan, <strong>GAO Jian-feng</strong>, LIU Fang-zheng</p>
                        <p><em>Transactions of Beijing Institute of Technology 36.3 (2016): 242-246</em></p>

                        <a role="button" class="btn btn-primary btn-lg active"
                            href="http://arxiv.org/abs/1711.07044">
                            <i class="fas fa-external-link-alt"></i> arXiv 
                        </a>               

                        <a role="button" class="btn btn-primary btn-lg active"
                            href="downloads/CPG.pdf">
                            <i class="fa fa-download"></i> PDF 
                        </a>
                    </div>
                    <!--<div class="col-md-1"></div>-->
                </div>
                <hr>
                
                
                <div class="row">
                    <!--<div class="col-md-1"></div>-->      
                    <div class="col-md-2 text-center">
                        <img class="img-thumbnail img-responsive" src="img/cheetah_model.png" alt="">
                    </div>
                    <div class="col-md-10 text-left">

                        <h3>The structural design, simulation analysis and parameter optimisation of the cheetah robot’s leg components</h5>
                        <p>Prof. Qingsheng Luo, <strong>Jianfeng Gao</strong>, Chenyang Zhou, Yansong Huang</p>
                        <p><em>Int. J. Computational Vision and Robotics 5.1 (2015): 23-36</em></p>
                                    
                        <a role="button" class="btn btn-primary btn-lg active"
                            href="downloads/CheetahStructure.pdf">
                            <i class="fa fa-download"></i> PDF 
                        </a>
                    </div>
                    <!--<div class="col-md-1"></div>-->
                </div>
                <hr>
                <a href="#patents" class="btn btn-circle page-scroll active">
                    <i class="fa fa-angle-double-down animated"></i>
                </a>
            </div>
        </div>
    </section>
