<!DOCTYPE html>
<html>
    {% include head.html %}
    <body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">
    {% include nav.html %}
    {% include header.html %}
    {% include about.html %}
    {% include educations.html %}
    {% include projects.html %}
    {% include publications.html %}
    {% include patents.html %}
    {% include interests.html %}
    {% include contact.html %}
    {% include map.html %}
    {% include footer.html %}
    {% include js.html %}
    </body>
</html>
